header {
  max-width: 1440px;
  width: 100%;
  background-image: url("imagini/fundal_header.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/*modificare culoare si dimensiune logo*/
.orange {
  filter: invert(80%) sepia(43%) saturate(3785%) hue-rotate(328deg)
    brightness(105%) contrast(101%);
  width: 5rem;
  height: 4rem;
}

.logo {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 10rem;
  margin: 0 auto;
}

/* txt_logo */
.coffeelovers {
  font-family: "Qwitcher Grypen";
  font-weight: bolder;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: -1rem;
  letter-spacing: 0.1rem;
  color: var(--orange);
  padding-left: 0.2rem;
}
