/* Aici vor fi stilurile pentru elementul main */
main {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Prima sectiune*/
.sectiune {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#categs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  width: 25rem;
  height: 5.5rem;
  right: 0;
  top: -2rem;
  background-color: var(--orange);
  border-radius: 5px;
}

#categs img {
  width: 3rem;
  height: 3rem;
  align-self: center;
}

.categ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--black);
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: var(--orange);
}

.categ:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

#nume-cafenea {
  width: 100%;
  text-align: center;
  font-family: "Qwitcher Grypen";
  font-weight: bolder;
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: 0.1rem;
  color: var(--orange);
  padding: 5rem 0 2.5rem 0;
}

.img-and-about-us-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side img {
  width: 100%;
  max-width: 520px;
  border-radius: 10px;
}

.right-side {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.right-side h2 {
  padding: 0.2rem;
  padding-left: 1rem;
  border-left: 0.5rem solid var(--orange);
}

.prezentare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.prezentare p {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  text-indent: 2rem;
  text-align: justify;
}

/* Sectiunea 2*/
.products {
  width: 100%;
  padding: 0.7rem;
  margin: 2rem auto 1.5rem auto;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--orange);
  color: var(--black);
  letter-spacing: 0.2rem;
}

.card p {
  color: #edd6c8;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
.cards_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  height: 21rem;
  padding: 1rem 1.5rem;
  gap: 1rem;
  background-color: #111111;
}

.card img {
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
}
.description {
  display: flex;
  flex-wrap: wrap;
}
.price {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
