@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Qwitcher+Grypen:wght@400;700&display=swap");

/* Declarare variabile de culori*/
:root {
  --beige: #fee2b7;
  --black: #000000;
  --orange: #ff9d43;
  --white: #ffffff;
}

/* Resetare stiluri de bază */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black);
  color: var(--white);
}
h1,
h3 {
  font-family: "Inter", sans-serif;
}
h3 {
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
}
h2 {
  font-family: "Qwitcher Grypen", cursive;
  color: var(--orange);
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

img {
  display: block;
}

.container {
  max-width: 90rem;
  height: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
