/* Aici vor fi stilurile pentru elementul footer */

.desktop .overlap {
  height: 494px;
  top: 2611px;
  background-image: url(./imagini/rectangle-3.svg);
  background-size: 100% 100%;
  position: absolute;
  width: 1440px;
  left: 0;
}

.desktop .frame-8 {
  display: flex;
  flex-direction: column;
  width: 1235px;
  align-items: flex-start;
  gap: 92px;
  position: relative;
  top: 59px;
  left: 45px;
}

.desktop .frame-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .dark-coffee-bright {
  position: relative;
  width: 860px;
  margin-top: -1px;
  font-family:  var(--txt-menu-font-family), Helvetica;
  font-weight: var(--txt-menu-font-weight);
  color: var(--black);
  font-size: 96px;
  letter-spacing: 14.4px;
  line-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.desktop .frame-10 {
  position: relative;
  width: 204px;
  margin-right: -4px;
}

.desktop .frame-11 {
  display: flex;
  align-items: center;
  gap: 320px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text-wrapper-4 {
  position: relative;
  margin-top: -1px;
  font-family: var(--txt-footer-font-family);
  font-weight: var(--txt-footer-font-weight);
  color: #ffffff;
  font-size: var(--txt-footer-font-size);
  letter-spacing: var(--txt-footer-letter-spacing);
  line-height: var(--txt-footer-line-height);
  white-space: nowrap;
  font-style: var(--txt-footer-font-style);
}

.desktop .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 57px;
  position: relative;
  flex: 0 0 auto;
}