/* Aici vor fi stilurile pentru elementul footer */
footer {
  background-image: url("imagini/fundal_footer.png");
  margin-top: 2rem;
}

.continut-footer {
  max-width: 1100px;
  width: 100%;
  height: 350px;
  padding-top: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
 /* text-transform: capitalize; */
  color: var(--white);
  display: inline-block;
 /* padding-bottom: 1rem; */
}

.motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-family: "Qwitcher Grypen";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 60px;
  text-transform: capitalize;
  color: var(--black);
}

.mail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.mail-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}

.icons {
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
}

.icons_color {
  filter: invert(98%) sepia(0%) saturate(1710%) hue-rotate(297deg)
    brightness(112%) contrast(101%);
  width: 3rem;
  height: 2rem;
}

.footer-info {
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
  align-items: center;
}

