/* Aici vor fi stilurile pentru elementul footer */
footer {
  width: 90rem;
  height: 25rem;
  background-image: url("imagini/fundal_footer.png");
  background-size: 100% auto;
  background-position: center bottom;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 10rem;
}

footer a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: var(--white);
}
.motto-email,
.icons-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.25rem;
  padding: 5.5rem 0 1.25rem 0;
}
.motto {
  font-family: "Qwitcher Grypen";
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: var(--black);
  padding-top: 1.25rem;
  align-self: flex-start;
}
.footer-mail {
  display: flex;
  align-self: flex-end;
  align-self: center;
}
.footer-info {
  display: flex;
  gap: 2rem;
  align-self: flex-end;
  align-self: center;
}

.icons {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}
.icons_color {
  filter: invert(98%) sepia(0%) saturate(1710%) hue-rotate(297deg)
    brightness(112%) contrast(101%);
  width: 3rem;
  height: 2rem;
}
