:root {
  --beige: rgba(254, 226, 183, 0.73);
  --black: rgba(0, 0, 0, 1);
  --logo: rgba(255, 157, 67, 1);
  --bgcoffee-1: rgba(255, 157, 67, 1);
  --bgcoffee-2: rgba(237, 214, 200, 1);
  --bgcoffee: rgba(49, 49, 49, 0.4);
  --logo-font-family: "Inter", Helvetica;
  --logo-font-weight: 400;
  --logo-font-size: 12px;
  --logo-letter-spacing: 0px;
  --logo-line-height: normal;
  --logo-font-style: normal;
  --txt-logo-font-family: "Qwitcher Grypen", Helvetica;
  --txt-logo-font-weight: 700;
  --txt-logo-font-size: 96px;
  --txt-logo-letter-spacing: 14.4px;
  --txt-logo-line-height: 100px;
  --txt-logo-font-style: normal;
  --txt-menu-font-family: "Qwitcher Grypen", Helvetica;
  --txt-menu-font-weight: 700;
  --txt-menu-font-size: 24px;
  --txt-menu-letter-spacing: 3.6px;
  --txt-menu-line-height: 50px;
  --txt-menu-font-style: normal;
  --txt-footer-font-family: "Inter", Helvetica;
  --txt-footer-font-weight: 400;
  --txt-footer-font-size: 24px;
  --txt-footer-letter-spacing: 3.6px;
  --txt-footer-line-height: 20px;
  --txt-footer-font-style: normal;
  --txt-description-font-family: "Inter", Helvetica;
  --txt-description-font-weight: 400;
  --txt-description-font-size: 20px;
  --txt-description-letter-spacing: 3px;
  --txt-description-line-height: 30px;
  --txt-description-font-style: normal;
  --txt-signup-font-family: "Qwitcher Grypen", Helvetica;
  --txt-signup-font-weight: 700;
  --txt-signup-font-size: 32px;
  --txt-signup-letter-spacing: 4.8px;
  --txt-signup-line-height: 50px;
  --txt-signup-font-style: normal;
  --txt-cafee-title-font-family: "Inter", Helvetica;
  --txt-cafee-title-font-weight: 800;
  --txt-cafee-title-font-size: 24px;
  --txt-cafee-title-letter-spacing: 7.2px;
  --txt-cafee-title-line-height: 30px;
  --txt-cafee-title-font-style: normal;
  --txt-caffee-description-font-family: "Inter", Helvetica;
  --txt-caffee-description-font-weight: 400;
  --txt-caffee-description-font-size: 20px;
  --txt-caffee-description-letter-spacing: 4px;
  --txt-caffee-description-line-height: 30px;
  --txt-caffee-description-font-style: normal;
  --m3-elevation-dark-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --drop-shadow-100: 0px 1px 4px 0px rgba(12, 12, 13, 0.05);
}
